* {
  box-sizing: border-box;
}
body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin: 0 15%;
}

.gallery {
  height: 100%;
  width: 100%;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 200px);
  grid-gap: 30px;
  margin-top: 10%;
  width: 100%;
  padding: 0;
  opacity: 0;
  filter: grayscale(100%);
  transition: 2s all ease-in-out;
}

.wrapper__photo {
  list-style-type: none;
  cursor: pointer;
  border: 1px solid #ccc;
  height: 100%;
}
.gallery__img {
  width: 100%;
  height: 100%;
  transition: 0.5s all ease-in-out;
}
.zoom {
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: 100vh;
  background: black;
  transition: 0.3s all ease-in;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zoom__photo {
  width: 100%;
  height: auto;
  opacity: 0.8;
  transition: 0.7s all ease-in-out;
  filter: grayscale(10%);
}

.gallery__title {
  font-family: "Indie Flower", cursive;
  font-size: 3.5em;
}
.gallery__subtitle {
  font-size: 1.3em;
  padding-bottom: 1em;
}
.gallery__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.8em;
  padding-bottom: 3em;
  transition: 0.5s all ease-in-out;
}
.gallery__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4em;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: 0.5s all ease-in-out;
}
.gallery__item--active {
  background: #fff;
  color: #000;
}
/* .gallery__photo{

} */
.smaller {
  font-size: 1em;
}

.gallery__btn-random {
  background: transparent;
  padding: 1em 2.5em;
  color: #fff;
  border: none;
  border: 1px solid #ccc;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  cursor: pointer;
}
.active {
  opacity: 1;
  filter: grayscale(0%);
}

@media all and (max-width: 720px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
